*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

body{
	background:#BCBF56;
}

.contenedor{
	width: 96%;
	max-width: 1500px;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

header{

	width: 100%;
	display: flex;
	justify-content: center;
	height: 140px;
	
}

.cabecera .logo{
	width: 120px;
	

}

.logoBN{
	border-radius: 50%;
	width: 100%;
	border: 1px solid #fff;
}

div .banner1{
	height: 630px;	
	width: 15%;
	text-align: left;
}
div .banner2{
	height: 630px;	
	width: 15%;
	text-align: right;
}



h1{
	text-align: center;
	color: #733917;
	margin: 10px 170px 100px 170px;

}

h1 span{
	border: 4px dashed #733917;
	padding: 10px;
	width: 100%;
}

section{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	

}



table, td{
	border: 2px solid #8C7F3B;
	border-collapse: collapse;
	text-align: center;

}

th{
	background-color: #8C7F3B;
	border-bottom: solid 5px #733917;
	color: #733917;
}

tr:nth-child(even){
	background-color: #FBFF8F;

}

tr:hover{
	background-color: #733917;
	color: #FFFFA5;
}

input{
	text-align: center;
	font-size: 0.9em;
	width: 60%;
	background-color: transparent;

	border-color: #843908;

}

.tabla1, .tabla2{
	height: 200px;
	width: 400px;
}

.main .tabla3, .main .tabla4, .main .tabla5{
	width: 320px;
	
}

.tabla5 .tb5 td{
	width: 150px;
}


table{
	margin: auto;
	width: 300px;
}

div .btn-clear{
	width: 50%;
	
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

div .limpiar{
	font-size: 1.5em;
	padding: 10px;
	margin-bottom: 30px;
	
}

footer{
	width: 100%;
	background: #733917;
	text-align: center;
	
}

footer p{
	color: #FFFFA5;
	padding: 10px;
	
}

@media screen and (max-width: 1200px){
	table{
		margin-top: 20px;
	}
}

@media screen and (max-width: 1100px){
	table{
		margin-top: 20px;
	}

	.banner1 img, .banner2 img{
		width: 90%;
		height: 1200px;
	}
}

@media screen and (max-width: 1100px){
	section{
		width: 50%;
	}
	h1{
		font-size: 100%;
		width: 50%;
	}
}

@media screen and (max-width: 700px){
	
	figure .logoBN{
		width: 300%;
	}

	section{
		width: 100%;
	}

	.banner1, .banner2{
		display: none;
	}
	h1{
		font-size: 60%;
		width: 300%;
	}

	header{
		height: 60px;
	}

	
}

@media screen and (max-width: 550px){
	h1 span{
		border: none;
		font-size: 18px;
		
	}

	section{
		margin-top: 10px;
	}
}



